services:
  web:
    build: .
    container_name: course-web
    ports:
      - "6969:6969"
    environment:
      - FLASK_ENV=development
    depends_on:
      - db
      - redis
    networks:
      - backend

  db:
    image: mysql:8.2.0
    container_name: course-sql
    environment:
      MYSQL_ROOT_PASSWORD: ${SQL_PASSWORD}
      MYSQL_DATABASE: ${SQL_DB}
    command:
      - --character-set-server=utf8mb4
      - --collation-server=utf8mb4_unicode_ci
      - --skip-character-set-client-handshake
    restart: unless-stopped
    volumes:
      - mysql-data:/var/lib/mysql
      - ./mysql-init/:/docker-entrypoint-initdb.d:ro
    networks:
      - backend

  redis:
    image: redis:latest
    container_name: course-redis
    restart: unless-stopped
    volumes:
      - redis-data:/data
    networks:
      - backend

volumes:
  mysql-data:
  redis-data:

networks:
  backend:
    driver: bridge
