{% extends "base.html" %}

{% block content %}
<div style="text-align: center; padding: 10px 20px;">
    <h2 class="menu-header-label">🎬 {{t("menu.label.header")}}</h2>

    {% if session.user %}
    <div class="menu-header">
        <p style="margin: 5px; color: white; font-size: 16pt;">
        {{t("menu.label.user")}}: <strong>{{ session.user.login }}</strong>
        </p>
        <p style="margin: 5px; color: white; font-size: 14pt;">
            {% if session.user.role == 'admin' %}
            {{t("menu.label.role")}}: <strong style="color: #DFBF0E;">{{t("menu.label.admin")}}</strong>
            {% elif session.user.role == 'manager' %}
            {{t("menu.label.role")}}: <strong style="color: #1BCAAA;">{{t("menu.label.manager")}}</strong>
            {% elif session.user.role == 'cashier' %}
            {{t("menu.label.role")}}: <strong style="color: #FFFFAF;">{{t("menu.label.cashier")}}</strong>
            {% else %}
            {{t("menu.label.role")}}: <strong>{{ session.user.role }}</strong>
            {% endif %}
        </p>
    </div>
    {% endif %}

    <div class="navigation">
        {% if session.user and session.user.role in ['cashier', 'manager', 'admin'] %}
        
        <p class="menu-label">🎟️ {{t("menu.section.tickets")}}</p>
        <a href="{{ url_for('ticket_cart_bp.ticket_cart_get') }}" class="menu-btn">
            {{t("cart.label.header")}}
        </a>
        <hr>
        
        {% endif %}

        {% if session.user and session.user.role in ['manager', 'admin'] %}

        <br>
        <p class="menu-label">🔍 {{t("menu.section.queries")}}</p>
        <a href="{{ url_for('queries_menu_bp.queries_menu_handler') }}" class="menu-btn">
            {{t("queries.label.header")}}
        </a>
        <hr>

        {% endif %}
        
        {% if session.user and session.user.role == 'admin' %}
        
        <br>
        <p class="menu-label">📊 {{t("menu.section.reports")}}</p>
        <a href="{{ url_for('ticket_report_bp.ticket_report_input_handler') }}" class="menu-btn">
            {{t("reports.label.header")}}
        </a>
        <hr>
        
        {% endif %}
        
        <a href="{{ url_for('auth_bp.logout_handler') }}" class="exit-btn">
            {{t("navigation.button.exit")}}
        </a>
    </div>
</div>

{% endblock %}
