{% extends "base.html" %}

{% block content %}
<div style="text-align: center; padding: 50px 20px;">
    <h2 class="menu-header-label">🔍 Меню запросов</h2>

    <div class="navigation">
        <h3 class="menu-label">Запросы по фильмам</h3>
        
        <a href="{{ url_for('films_search_bp.films_search_handler') }}" class="menu-btn">
            🔎 Поиск фильмов
        </a>
        <hr>
        
        <h3 class="menu-label">Билеты</h3>
        
        <a href="{{ url_for('available_seats_bp.available_seats_handler') }}" class="menu-btn">
            💺 Свободные места на сеанс
        </a>
        <hr>
        
        <h3 class="menu-label">Залы</h3>
        
        <a href="{{ url_for('halls_list_bp.halls_list_handler') }}" class="menu-btn">
            🏛️ Список залов
        </a>
        <hr>
        
        <a href="{{ url_for('menu_bp.main_menu') }}" class="menu-btn nav-button" style="margin-top: 30px;">
            🏠 Главное меню
        </a>
    </div>
</div>

{% endblock %}
