{% extends "base.html" %}

{% block content %}
<div class="text-center padding-30-20">
    <h2 class="menu-label-header">🔎 {{t("films.label.header")}}</h2>

    <div class="form-container">
        <form action="{{ url_for('films_search_bp.films_search_result_handler') }}" method="post">
            <div class="margin-15-0">
                <label for="search_type" class="form-label">{{t("films.label.search_by")}}:</label>
                <select id="search_type" name="search_type" class="form-input" required>
                    <option value="year">📅 {{t("year")}}</option>
                    <option value="country">🌍 {{t("country")}}</option>
                    <option value="director">🎬 {{t("director")}}</option>
                </select>
            </div>

            <div class="margin-15-0">
                <label for="search_value" class="form-label">{{t("films.label.search_value")}}:</label>
                <input type="text" id="search_value" name="search_value" 
                class="form-input" placeholder="{{t("films.input.value")}}" required>
            </div>

            <div class="margin-30-0">
                <button type="submit" class="menu-btn" style="width: 98%;">
                    🔍 {{t("films.button.search")}}
                </button>
            </div>
        </form>
    </div>

    <div class="navigation">
        <a href="{{ url_for('queries_menu_bp.queries_menu_handler') }}" class="menu-btn">🔙 {{t("navigation.button.prev")}}</a>
        <a href="{{ url_for('menu_bp.main_menu') }}" class="menu-btn">🏠 {{t("navigation.button.menu")}}</a>
    </div>
</div>
{% endblock %}

