{% extends "base.html" %}

{% block content %}
<div class="padding-20">
    <h2 class="menu-header-label">{{ prod_title }}</h2>

    {% if products and products|length > 0 %}
        <div class="overflow-auto">
            <table>
                <thead>
                    <tr>
                        {% for key in products[0].keys() %}
                        <th>{{ t(key) }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for product in products %}
                    <tr>
                        {% for value in product.values() %}
                        <td>{{ value }}</td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <p class="menu-label">
            {{t("dynamic.label.found")}}: {{ products|length }}
        </p>
    {% else %}
        <div class="msg-error">
            {{t("dynamic.label.none")}}
        </div>
    {% endif %}

    <div class="navigation">
        <a href="javascript:history.back()" class="menu-btn">
            🔙 {{t("dynamic.button.prev")}}
        </a>
        <a href="{{ url_for('menu_bp.main_menu') }}" class="menu-btn">
            🏠 {{t("dynamic.button.menu")}}
        </a>
    </div>
</div>
{% endblock %}

